@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    background: #fff;
    color: #111;
    margin: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
}

/* 인디케이터 스타일 */
.swiper-pagination {
    position: relative !important;
    margin-top: 25px;
    text-align: center;
}

/* 점 스타일 */
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: #d7d7d7 !important;
    opacity: 1 !important;
    margin: 0 3px !important;
    border-radius: 50% !important;
    /* 원형 */
}

/* 활성 점 */
.swiper-pagination-bullet-active {
    background-color: #f2592a !important;
}